:root {
    --nav-height: 100px;
    --nav-icon-size: 50px;
    --nav-bg-color: rgb(50, 32, 63);
    --nav-bg-hover: rgb(68, 54, 78);
    --nav-bg-active: rgb(95, 95, 95);
}

.topnav {
    display: block;
    z-index: 100;
    width: 100%;
    height: var(--nav-height);
    background-color: transparent;
    padding: 0 50px 15px 50px;
    font-size: 28px;
    font-family: Caveat;
    color: #000000;
}

.topnav nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: end;
    gap: 115px;

    .fancy-button {
        display: inline-block;
        padding: 10px 50px;
        background-color: var(--bg-color-yellow);
        border-radius: 35px;
    }

    .wordmark {
        position: relative;

        span {
            text-wrap: nowrap;
        }
        
        .wordmark-circles {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            .circle-1 {
                --circle-diamater: 32px;
                position: relative;
                top: 25px;
                left: 35px;
                width: var(--circle-diamater);
                height: var(--circle-diamater);
                background-color: #C7EAE4;
                border-radius: 100%;
                margin-left: calc( -1 * var(--circle-diamater) );
                margin-top: calc( -1 * var(--circle-diamater) );
            }
            .circle-2 {
                --circle-diamater: 30px;
                position: relative;
                top: 39px;
                left: 58px;
                width: var(--circle-diamater);
                height: var(--circle-diamater);
                background-color: var(--bg-color-yellow);
                border-radius: 100%;
                margin-left: calc( -1 * var(--circle-diamater) );
                margin-top: calc( -1 * var(--circle-diamater) );
            }
            .circle-3 {
                --circle-diamater: 54px;
                position: relative;
                top: 50px;
                left: 110px;
                width: var(--circle-diamater);
                height: var(--circle-diamater);
                background-color: var(--bg-color-seafoam);
                border-radius: 100%;
                margin-left: calc( -1 * var(--circle-diamater) );
                margin-top: calc( -1 * var(--circle-diamater) );
            }
            .circle-4 {
                --circle-diamater: 24px;
                position: relative;
                top: 37px;
                left: 161px;
                width: var(--circle-diamater);
                height: var(--circle-diamater);
                background-color: var(--bg-color-lightish-salmon);
                border-radius: 100%;
                margin-left: calc( -1 * var(--circle-diamater) );
                margin-top: calc( -1 * var(--circle-diamater) );
            }
        }
    }

    ul {
        display: flex;
        min-width: 550px;
        list-style-type: none;
        padding: 0;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        line-height: var(--nav-height);

        li {
            line-height: initial;

            a {
                display: flex;
                width: max-content;
                align-items: center;
                color: inherit;
                text-decoration: none;

                img {
                    width: 47px;
                    height: 47px;
                    margin-left: 10px;
                }
            }

            a.active {
                border-bottom: 3px solid black;
            }

            a.link-button.active {
                border-bottom: none;
            }
        }

        a.icon {
            display: none;
            width: var(--nav-icon-size);
            height: var(--nav-icon-size);
            font-size: var(--nav-icon-size);
            line-height: var(--nav-icon-size);
            color: inherit;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .topnav nav {
        ul {
            justify-content: space-between;
            align-items: center;
            gap: 0;

            li {
                display: none;
            }

            a.icon {
                display: flex;
                position: absolute;
                top: 50px;
                right: 40px;
                margin-left: calc( -1 * var(--nav-icon-size));
                justify-content: center;
                align-items: center;

                .hamburger {
                    width: calc( var(--nav-icon-size) * .6 );
                    height: 3px;
                    background: #111;
                    border: none;
                    cursor: pointer;
                    border-radius: 2px;
                    box-shadow:
                        0 -8px 0 0 #111,
                        0  8px 0 0 #111;
                }
            }
        }
    }

    .topnav.responsive nav {
        ul {
            position: absolute;
            top: calc( ( var(--nav-height) - var(--nav-height) ) / 2);
            left: 0;
            width: 100%;
            flex-direction: column;
            background-color: white;
            font-size: 32px;

            li {
                display: initial;
                width: 100%;

                .link-button {
                    display: flex;
                    padding: 0;
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: none;
                    font-size: inherit;
                }

                a {
                    width: 100%;
                    height: 100px;
                    text-align: left;

                    &:hover {
                        background-color: var(--nav-bg-hover);
                        color: white;

                        img {
                            filter: invert(1);
                        }
                    }

                }

                a.active {
                    background-color: var(--nav-bg-active);
                    color: white;
                }
            }

            li:first-of-type {
                a {
                    height: 150px;
                }
            }
        }
    }
}