@import url("./reset.scss");

@font-face {
    font-family: Caveat;
    src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Lato;
    src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato Black';
    src: url("/fonts/Lato/Lato-Black.ttf");
}

:root {
    --fg-grey: #393939;
    --bg-color-red: #F25C54;
    --bg-color-yellow: #FFD972;
    --bg-color-darkish-salmon: #EFA7A7;
    --bg-color-lightish-salmon: #FCBCB8;
    --bg-color-seafoam: #A7E8BD;
}

body {
    font-family: Lato;
    letter-spacing: 0.05em;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.handwritten {
    font-family: Caveat;
}

@import url("./nav.scss");


#app {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

#place-content {
    display: flex;
    flex-grow: 1;
}

.content {
    width: 77%;
    margin: 0 auto;
    margin-top: 80px;
}

footer {
    display: flex;
    z-index: 1;
    min-height: 44px;
    justify-content: space-around;
    align-items: start;
    font-family: Lato;
    color: var(--fg-grey);

    span {
        text-wrap: nowrap;
    }

    .footer-links {
        display: flex;
        gap: 32px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .footer-socials {
        display: flex;
        gap: 45px;

        a {
            width: 19px;
            height: 19px;
        }
    }
}

.page-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    
    img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.link-button {
    display: inline-block;
    padding: 18px 25px;
    background-color: var(--bg-color-yellow);
    border: none;
    border-radius: 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    color: inherit;
    text-decoration: none;
}

.home {
    overflow: hidden;
}

.overlay.ov-red {
    background-color: var(--bg-color-red);
    opacity: .6;
}

.overlay.ov-seafoam {
    background-color: var(--bg-color-seafoam);
    opacity: .6;
}

.text-circles-flex {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    line-height: 1.21;

    h3 {
        font-family: Caveat;
        font-size: 24px;
        padding-bottom: 30px;
    }

    .circles {
        display: flex;
        position: relative;
        top: -40px;
        left: -40px;

        .large-circle {
            --circle-diameter: 357.6px;
            display: flex;
            width: var(--circle-diameter);
            height: var(--circle-diameter);
            background-color: var(--bg-color-yellow);
            border-radius: 100%;
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 13px;

            p {
                width: 42.5%;                
                text-align: center;

            }
        }
        .small-circle {
            --circle-diameter: 167.9px;
            display: flex;
            position: relative;
            top: -46px;
            right: -79px;
            width: var(--circle-diameter);
            height: var(--circle-diameter);
            margin-left: calc( -1 * var(--circle-diameter) );
            background-color: var(--bg-color-lightish-salmon);
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            font-size: 9px;

            p {
                z-index: 2;
                width: 62.5%;
                text-align: center;
            }
        }
    }
}

.food-flex {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 50px;
}

.food-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 524px;
    height: auto;

    .card-image {
        aspect-ratio: 300/263;
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 24px;
        object-fit: cover;
        flex: 1 1 300px;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        border-radius: 24px;
        padding: 20px;
        flex: 1 1 200px;
        min-width: 200px;
    }

    .card-title {
        margin-bottom: 10px;
        font-family: 'Lato Black';
        font-size: 1rem;
        text-decoration: underline 4px;
        text-align: center;
    }

    .card-description {
        width: 100%;
        max-width: 140px;
        font-size: 9px;
        line-height: 1.1em;
    }

    .card-info-row {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .info-icon {
        height: 25px;
        width: 25px;
        object-fit: contain;
    }

    .info-text {
        font-size: 0.8rem;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;

        .card-text {
            width: 90%;
        }

        .card-description {
            font-size: 0.75rem;
        }

        .card-info-row {
            gap: 8px;
        }
    }
}

#app:has(.login) {
    background-color: var(--bg-color-yellow);
}

.login {
    display: flex;
    margin-top: calc(-1 * var(--nav-height));

    .forms-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;

        h1 {
            font-weight: normal;
            margin-bottom: 50px;
        }

        input[type=text], input[type=password] {
            display: block;
            width: 233px;
            background-color: transparent;
            border: none;
            box-shadow: inset 0 -2px 0 0 black;
            margin-bottom: 45px;

            &::placeholder {
                opacity: 1;
            }
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 30px 0;
        }
    }
}

/*
Device ranges from W3Schools:
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    footer {
        font-size: 10px;

        .footer-links {
            gap: 15px;
        }

        .footer-socials {
            gap: 25px;
        }
    }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {

}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}